:root {
  --dark: #001747;
  --grey: #b1bacb;
  --grey-border: rgba(210, 210, 210, 0.75);
  --grey-light: #eeeeee;
  --grey-dark: $405175;
  --blue: #2d70fd;
  --green: #00d8a7;
  --white: #ffffff;
}

body {
  background-image: url(4k-ultra-hd-city-6vt0dix0v1z3g53i.jpg);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--blue);
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
 font-family: "Red Rose", serif;
 text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Todo Container */

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  background: transparent;
  padding: 3rem;
  height: 50%;
  width: 60%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 30rem;
  border: 13px #000000;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  
}

h1 {
  text-transform: uppercase;
  height: 3rem;
  color: var(--white);
  text-align: center;
font-family: "Orbitron", sans-serif;
 font-style: italic;
     -webkit-text-stroke: 1px rgb(26, 116, 201);
}

.input {
  position: relative;
  display: flex;}

.input-field {
  width: 100%;
  border: 0.06rem solid #ffffff;
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: var(--grey);
}

.todo-container {
  display: flex;
  gap: 1rem;
  
}

ul {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

li {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.3rem;
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: var(--dark);
  align-items: center;
  font-family: "Red Rose", serif;
}

#todoList .disabled {
  color: #f1f2f5;
   font-family: "Red Rose", serif;
}

.disabled {
  display: flex;
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid var(--grey-border);
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color: var(--white);
  background-color: var(--green);
  border: 0.06rem solid var(--green);
  border-radius: 50%;
}

.counter {
  border: 0.06rem solid var(--white);
}

.counter-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  font-family: "Orbitron", sans-serif;
}

.counter-container p {
  align-self: center;
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
 font-style: italic;
}

.footer {
  display: flex;
  gap: 1.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.made-by,
.author {
  font-size: 0.9rem;
  font-family: "red_rose" ,sans-serif;
}

.made-by {
  color: var(--grey-dark);
    font-family: "Red Rose", serif;
  text-transform: uppercase;
}

.author {
  color: var(--blue);
  font-weight: normal;
   font-family: "Red Rose", serif;
  text-transform: uppercase;
  font-style: oblique;
}

.scroll {
  height: 15rem;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
  
}

.scroll::-webkit-scrollbar-track {
  display: none;
}